body 
{
	margin: 0;
}

canvas 
{
	display: block;
	position:absolute;
	top:0;
	left:0;
}
footer 
{
	text-decoration: none;
	text-align: center;
	font-size: 1.0em;
}

#footer_text
{
	text-decoration: none;
	text-align: center;
	color: #0a2929;
	font-size: 0.75em;
	opacity: 0.5;
}
.in-front
{
  z-index: 10;
  position: relative;
}
.behind
{
  position:absolute;top:0;left:0;
}
.dark-pill .active a, .dark-pill .action a:hover, .dark-pill .active a:focus
{	
	color: #fff;
	background-color: #444444 !important;
}
.nav-pills a
{
	color: #444444
}
.typed-cursor
{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}}
@-webkit-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink
{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
 
